/* From Uiverse.io by Priyanshu02020 */
#heart {
  display: none;
}

.like-button {
  position: relative;
  cursor: pointer;
  display: flex;
  height: 48px;
  width: 50px;
  /* border-radius: 16px; */
  border: none;
  /* background-color: #94ae90; */
  overflow: hidden;
  /* box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 0.2),
    inset 2px 2px 5px rgba(0, 0, 0, 0.1), 4px 4px 10px rgba(241, 238, 238, 0.4),
    -2px -2px 8px rgba(255, 255, 255, 0.1); */
}

/* .like {
  width: 70%;
  height: 100%;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-evenly;
} */

.like-icon {
  fill: #505050;
  height: 28px;
  width: 28px;
}

.like-text {
  color: black;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.like-count {
  position: absolute;
  right: 0;
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #717070;
  font-size: 16px;
  /* border-left: 2px solid #4e4e4e; */
  transition: all 0.5s ease-out;
}

.like-count.two {
  transform: translateY(40px);
  color: black;
}

.on:checked ~ .like .like-icon {
  fill: #fc4e4e;
  animation: enlarge 0.2s ease-out 1;
  transition: all 0.2s ease-out;
}

.on:checked ~ .like-count.two {
  transform: translateX(0);
  color: black;
}

.on:checked ~ .like-count.one {
  transform: translateY(-40px);
}

@keyframes enlarge {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1.2);
  }
}
