.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    to right,
    #00b09b,
    #96c93d
  ) !important; /* Impressive green color */
  padding: 1rem 2rem;
  color: white;
  font-family: Arial, sans-serif;
  position: relative;
  z-index: 1;
  width: 100% !important;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* Logo and brand styling */
.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

/* Navbar links */
.navbar-links {
  display: flex;
  list-style: none;
}

.navbar-links li {
  margin-left: 1.5rem;
  font-weight: bold;
}

.navbar-links li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbar-links li a:hover {
  color: #e0e0e0;
}

/* Profile dropdown */
.profile-dropdown-container {
  position: relative;
  cursor: pointer;
}

.profile-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: #444;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
}

.dropdown-menu {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #333;
  color: white;
  width: 200px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.dropdown-links {
  padding: 0;
  margin: 0;
  list-style: none;
}

.dropdown-item {
  display: block;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #444;
}

/* Logout button styling */
.logout-button {
  width: 100%;
  text-align: left;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
}

/* Mobile menu */
.mobile-menu-icon {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.navbar-links.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #28a745;
}

.navbar-right {
  display: flex;
  align-items: center;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }

  .navbar-links.active {
    display: flex;
  }
}

/* Login button */
.login-button {
  background-color: #444;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #555;
}
